# Clustering

In this notebook we do the three types of clustering discussed

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [3]:
DATASET_DIR = "dataset" + os.sep

In [4]:
merged_df = pd.read_csv(DATASET_DIR + "merge_clean_v2.csv", parse_dates=["date"])
cyclist_df = pd.read_csv(DATASET_DIR + "cyclist_clean_v2.csv")
stages_df = pd.read_csv(DATASET_DIR + "stages_clean_v2.csv", parse_dates=["date"])

In [5]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589771 entries, 0 to 589770
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   _url               589771 non-null  object
 1   points             589771 non-null  int64
 2   length             589771 non-null  float64
 3   profile            475349 non-null  float64
 4   startlist_quality  589771 non-null  int64
 5   date               589771 non-null  datetime64[ns]
 6   position           589771 non-null  int64
 7   cyclist            589771 non-null  object
 8   cyclist_age        589658 non-null  float64
 9   delta              589771 non-null  int64
 10  race               589771 non-null  object
 11  year               589771 non-null  int64
 12  stage              589771 non-null  object
 13  birth_year         589724 non-null  float64
 14  weight             480010 non-null  float64
 15  height             480010 non-null  float64
 16  nationality        589771 non-null  object
 17  season             589771 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(5), object(6)
memory usage: 81.0+ MB

In [6]:
cyclist_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6095 entries, 0 to 6094
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _url         6095 non-null   object
 1   name         6095 non-null   object
 2   birth_year   6084 non-null   float64
 3   height       3134 non-null   float64
 4   nationality  6095 non-null   object
 5   BMI          3134 non-null   float64
dtypes: float64(3), object(3)
memory usage: 285.8+ KB

In [7]:
stages_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5281 entries, 0 to 5280
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _url               5281 non-null   object
 1   stage              5281 non-null   object
 2   race               5281 non-null   object
 3   date               5281 non-null   datetime64[ns]
 4   points             5281 non-null   int64
 5   length             5281 non-null   int64
 6   profile            3326 non-null   float64
 7   startlist_quality  5281 non-null   int64
 8   year               5281 non-null   int64
 9   season             5281 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 412.7+ KB

## K-means

In [ ]:
from sklearn.cluster import KMeans

## Hierarchical clustering

## DBscan