In [12]:
import datacleaner as dc
import pandas as pd
import numpy as np

In [89]:
dm = dc.DataCleaner(r"./dataset/races.csv", r"./dataset/cyclists.csv")

In [90]:
dm.df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589865 entries, 0 to 589864
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   _url                 589865 non-null  object
 1   location             589865 non-null  object
 2   points               589388 non-null  float64
 3   uci_points           251086 non-null  float64
 4   length               589865 non-null  float64
 5   climb_total          442820 non-null  float64
 6   profile              441671 non-null  float64
 7   startlist_quality    589865 non-null  int64
 8   average_temperature  29933 non-null   float64
 9   date                 589865 non-null  datetime64[ns]
 10  position             589865 non-null  int64
 11  cyclist              589865 non-null  object
 12  cyclist_age          589752 non-null  float64
 13  is_tarmac            589865 non-null  bool
 14  cyclist_team         430704 non-null  object
 15  delta                589865 non-null  float64
 16  birth_year           589752 non-null  float64
 17  weight               478431 non-null  float64
 18  height               479746 non-null  float64
 19  nationality          589813 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(11), int64(2), object(5)
memory usage: 86.1+ MB

In [91]:
df_races = pd.read_csv("dataset/races.csv", parse_dates=['date'])
df_cyclists = pd.read_csv("dataset/cyclists.csv")

## Cyclists analysis

One cyclist has all NaN fields. Consider removing

In [92]:
df_cyclists.info()

print(df_cyclists.loc[df_cyclists.nationality[df_cyclists.nationality.isna()].index])
df_cyclists[df_cyclists['_url'] == 'scott-davies']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6134 entries, 0 to 6133
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _url         6134 non-null   object
 1   name         6134 non-null   object
 2   birth_year   6121 non-null   float64
 3   weight       3078 non-null   float64
 4   height       3143 non-null   float64
 5   nationality  6133 non-null   object
dtypes: float64(3), object(3)
memory usage: 287.7+ KB
           _url           name  birth_year  weight  height nationality
9  scott-davies  Scott  Davies         NaN     NaN     NaN         NaN

           _url           name  birth_year  weight  height nationality
9  scott-davies  Scott  Davies         NaN     NaN     NaN         NaN

These cyclists have unclear birth_year. Try to infer from their age in the other dataset

In [93]:
df_cyclists.loc[df_cyclists.birth_year[df_cyclists.birth_year.isna()].index]

,_url,name,birth_year,weight,height,nationality
9,scott-davies,Scott Davies,NaN,NaN,NaN,NaN
601,vladimir-malakov,Vladimir Malakov,NaN,NaN,NaN,Russia
894,antonio-zanini,Antonio Zanini,NaN,NaN,NaN,Italy
2408,filippo-simonetti,Filippo Simonetti,NaN,NaN,NaN,Italy
2515,carlos-garcia,Carlos Garc√≠a,NaN,NaN,NaN,Spain
2536,alexandr-osipov,Alexandr Osipov,NaN,NaN,NaN,Russia
3046,nicolai-kosyakov,Nicolai Kosyakov,NaN,NaN,NaN,Russia
3551,nevens-guy,Guy Nevens,NaN,NaN,NaN,Belgium
4142,oscar-pumar,Oscar Pumar,NaN,NaN,NaN,Venezuela
4384,javier-luquin,Javier Luquin,NaN,NaN,NaN,Spain
4756,thierry-lauder,Thierry Lauder,NaN,NaN,NaN,France
6072,sergei-jermachenko,Sergei Jermachenko,NaN,NaN,NaN,Russia
6080,batik-odriozola,Batik Odriozola,NaN,NaN,NaN,Spain

## Races analysis

In [94]:
df_races.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589865 entries, 0 to 589864
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   _url                 589865 non-null  object
 1   name                 589865 non-null  object
 2   points               589388 non-null  float64
 3   uci_points           251086 non-null  float64
 4   length               589865 non-null  float64
 5   climb_total          442820 non-null  float64
 6   profile              441671 non-null  float64
 7   startlist_quality    589865 non-null  int64
 8   average_temperature  29933 non-null   float64
 9   date                 589865 non-null  datetime64[ns]
 10  position             589865 non-null  int64
 11  cyclist              589865 non-null  object
 12  cyclist_age          589752 non-null  float64
 13  is_tarmac            589865 non-null  bool
 14  is_cobbled           589865 non-null  bool
 15  is_gravel            589865 non-null  bool
 16  cyclist_team         430704 non-null  object
 17  delta                589865 non-null  float64
dtypes: bool(3), datetime64[ns](1), float64(8), int64(2), object(4)
memory usage: 69.2+ MB

Can remove is_cobbled and is_gravel as they are constant

In [95]:
#getting unique values of boolean columns
print(df_races.is_cobbled.unique())
print(df_races.is_gravel.unique())

[False]
[False]

In [96]:
dm.df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589865 entries, 0 to 589864
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   _url                 589865 non-null  object
 1   location             589865 non-null  object
 2   points               589388 non-null  float64
 3   uci_points           251086 non-null  float64
 4   length               589865 non-null  float64
 5   climb_total          442820 non-null  float64
 6   profile              441671 non-null  float64
 7   startlist_quality    589865 non-null  int64
 8   average_temperature  29933 non-null   float64
 9   date                 589865 non-null  datetime64[ns]
 10  position             589865 non-null  int64
 11  cyclist              589865 non-null  object
 12  cyclist_age          589752 non-null  float64
 13  is_tarmac            589865 non-null  bool
 14  cyclist_team         430704 non-null  object
 15  delta                589865 non-null  float64
 16  birth_year           589752 non-null  float64
 17  weight               478431 non-null  float64
 18  height               479746 non-null  float64
 19  nationality          589813 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(11), int64(2), object(5)
memory usage: 86.1+ MB

The positions are 0-indexed, meaning that the position 0 is the first place. The reason we infer this is because the number of 0 positions exactly coincide with the number of different races in the dataset (5281). The delta seems to be zero for higher positions on the grid. The maximum is 204, seems unlikely, need to understand if 0 is the (unfortunate) default value.

Probably 0 is default value for delta

In [97]:
#print(dm.df.loc[dm.df.position == 0].shape)
#print(dm.df.loc[dm.df.position == 1].shape)

print(dm.df.loc[(dm.df.delta == 0) & (dm.df.position == 2)].shape)
print(dm.df.loc[dm.df.delta == 0].position.max())
dm.df._url.unique().shape

(2235, 20)
204

(5281,)

In pandas if there are NaN values the column cannot be an integer column. Thus after imputation we have to recast as integer the following columns

In [98]:
print(all(x.is_integer() for x in dm.df.points.dropna())) #points column is integer
print(all(x.is_integer() for x in dm.df.uci_points.dropna())) #uci_points column is integer
print(all(x.is_integer() for x in dm.df.climb_total.dropna())) #climb_total column is integer
print(all(x.is_integer() for x in dm.df.length.dropna())) #length column is integer

True
True
True
False

The "profile" column is categorical, values ranging from 1 to 5. (also need to recast after imputation)

In [99]:
dm.df.profile.unique()

array([ 1.,  5., nan,  3.,  2.,  4.])

The startlist are integers representing how strong the lineup is. They are sparse.

In [100]:
dm.df.startlist_quality.unique()

array([1241,  821, 1699,  804, 1551,  899,  659,  388,  900,  541,  830,
        789,  602,  817, 1400, 1161, 1040,  896,  791,  819,  670,  225,
        520, 1057,  809,  828,  722,  747,  714,  815,  376,  621,  760,
        798,  933, 1994, 1437, 1362,  884, 1150,  971,  881, 1112, 1175,
        891,  878,  400,  936,  692,  727, 1002,  928, 1196, 1489,  687,
        585,  835,  673, 1328,  885,  502,  861,  982,  923, 1036, 1690,
        925,  989, 1109, 1084,  803,  792,  548,  668, 1713, 1520, 1959,
        883,  859, 2047, 1024,  533, 1269,  751, 1202,  570, 1703, 1416,
        251, 1158, 1139,  657, 1048,  521, 1034, 1099,  880, 1029,  627,
        340,  767,  737, 1220,  824,  369, 1255, 1019,  995, 1059, 1342,
        968,  676, 1381,  705,  680,  779, 1123, 1020, 1632, 1251, 1470,
        708,  892,  523,  590,  604,  781,  614, 1309,  951, 1812,  877,
       1758,  843, 1041, 1646,  935,  660,  961, 1238, 1496,  765,  494,
       1933,  956, 1849, 1136,  393,  882,  597,  874,  908,  888,  530,
       1089,  446,  838,  373, 1872,  638,  794,  932, 1331,  377,  719,
       1121, 1042, 1165, 1105, 1535, 1492,  732,  866,  920,  917, 1584,
        653,  906,  551,  611,  772,  852,  607, 1177,  389,  873,  966,
        775,  790, 1090,  302,  478,  952, 1176, 1017, 1278,  762,  508,
       1612,  930,  477, 1557,  972,  811, 1941, 1365, 1555,  442, 1443,
        655,  807, 1044,  463,  200, 1685,  721,  960, 1182, 1005,  698,
       1067,  352, 1061,  850,  997,  538,  844,  636,  869,  699,  929,
       1170,  616,  490, 1063,  944,  800, 1871,  988,  778, 1292, 1079,
       1038,  480, 1791,  889,  156,  857,  536,  710,  605, 1058,  724,
        439,  608,  771, 1086,  766,  549,  327,  516,  806, 1033,  886,
        734, 1148,  981,  764, 1053,  691,  457,  666,  758,  658, 1146,
        741, 1117,  975,  518, 1804, 1023,  847, 1164, 1224, 1045,  431,
       1108,  362, 1101,  973,  579,  927,  774,  895,  491, 1128,  926,
        795, 1689, 1434, 1275,  915,  914,  492,  690,  943,  731,  507,
       1188,  700,  574,  603,  802,  568,  816,  709,  922, 1197,  433,
        343,  785,  572,  386,  429, 1212, 1630,  855,  780,  782,  898,
        890, 1192,  940,  701,  985,  438, 1216,  391,  831,  637,  697,
        505,  447, 1100, 1110,  787,  319,  529, 1091, 1168, 1704, 1688,
        394,  644,  958,  544,  526,  864, 1225, 1530,  970,  565,  566,
        704,  681,  379, 1026,  473,  651,  599,  455,  953,  902, 1198,
        556, 1243, 1210,  949,  941,  912,  601,  910, 1092,  171,  746,
        512,  646, 1047,  540,  269, 1377,  717, 1731,  754,  909,  560,
       1133,  674, 1242,  845,  872,  557,  640,  749, 1071,  615,  428,
       1485, 1189,  323, 1008,  837,  992,  641,  535, 1230,  740,  938,
        688,  678, 1115,  643, 1085,  755,  633, 1232,  998,  595,  796,
        868,  823, 1476,  426, 1166,  443,  649,  853,  261, 1677,  684,
        427, 1088, 1147,  515, 1352,  583, 1082, 1070, 1206,  742,  441,
        419,  748,  763,  341,  808,  451, 1012,  372,  250,  867,  460,
       1068,  194, 1359,  594, 1087, 1458,  559, 1120,  304, 1594,  588,
        733, 1122,  652,  532,  918,  947,  489, 1526,  783,  735, 1201,
        479,  586,  769,  959,  546, 1603,  829,  513, 1056,  693, 1163,
        634,  854,  799,  832,  454,  335, 1254,  328,  434, 1608, 1247,
        228, 1080,  262,  339, 1235,  484,  504,  695, 1259,  978, 1233,
       1249, 1229,  842,  682,  416,  281,  625,  630,  584, 1140, 1486,
       1290,  282,  303, 1253,  424, 1208,  539, 1217, 1294,  578, 1134,
        399, 1585, 1054, 1404,  777, 1159,  996,  471,  410, 1386, 1143,
        977,  756, 1178,  836,  860, 1096,  865,  685,  330,  554,  617,
        575,  648, 1263, 1116, 1398,  862,  216, 1307, 1614, 1305,  718,
        234,  136, 1428, 1039,  759,  498, 1480, 1154, 1353,  623,  488,
       1186,  320,  527,  558,  403,  483,  445,  683,  226,  563,  645,
        707,  631,  893, 1313, 1106, 1626, 1030, 1277, 1436,  962, 1374,
       1138, 1094,  580,  887,  589, 1256, 1303,  449, 1211,  561, 1018,
       1052,  241,  472, 1179,  770,  232,  191,  661,  964,  542, 1319,
       1191, 1327,  474,  552, 1723,  115, 1355, 1346, 1306, 1098,  656,
       1130,  378, 1329, 1347,  467, 1218, 1025, 1296, 1357,  418,  510,
        632, 1009,  258, 1600,  141,  752, 1580, 1028, 1013,  493, 1032,
        993, 1566,  423, 1439, 1069, 1599,  301,  567, 1016,  856,  358,
        430,  610,  773,  662,  613,  827, 1152, 1332, 1310,  797, 1004,
        999,  318,  677, 1075, 1322,  805,  626, 1794, 1483,  736,  390,
        745, 1601, 1171, 1149])

Cannot infer birth year from age: they are both NaN in the same exact cases.

In [101]:
#group by cyclist and show if there is a value different from Nan

ages = dm.df.groupby('cyclist')['cyclist_age'].unique()

ages = ages.apply(lambda x: np.isnan(x).all())
# names for which is true
ages = ages[ages == True].index

for idx, name in enumerate(ages):
    print(idx,name)
    print(df_cyclists.loc[df_cyclists['_url'] == name].birth_year)
    #print(df_cyclists.loc[df_cyclists['_url'] == name])

0 alexandr-osipov
2536   NaN
Name: birth_year, dtype: float64
1 antonio-zanini
894   NaN
Name: birth_year, dtype: float64
2 batik-odriozola
6080   NaN
Name: birth_year, dtype: float64
3 carlos-garcia
2515   NaN
Name: birth_year, dtype: float64
4 filippo-simonetti
2408   NaN
Name: birth_year, dtype: float64
5 javier-luquin
4384   NaN
Name: birth_year, dtype: float64
6 nevens-guy
3551   NaN
Name: birth_year, dtype: float64
7 nicolai-kosyakov
3046   NaN
Name: birth_year, dtype: float64
8 oscar-pumar
4142   NaN
Name: birth_year, dtype: float64
9 scott-davies
9   NaN
Name: birth_year, dtype: float64
10 sergei-jermachenko
6072   NaN
Name: birth_year, dtype: float64
11 thierry-lauder
4756   NaN
Name: birth_year, dtype: float64
12 vladimir-malakov
601   NaN
Name: birth_year, dtype: float64

one profile per _url not unique per Location


one location per _url 


one points per _url Not unique per location

one uci_points per _url Not unique per location

one length per _url Not u x loc

one climb_total per _url  (this is strange, there are floats, but the floats have small decimal part with lot of zeros)

one startlist_quality per _url (not u x loc)

In [135]:
# check which column only depends on the races
profile_counts = dm.df.groupby('location')['startlist_quality'].nunique()
print(profile_counts[profile_counts > 1])

# print urls with delta == 0 for position != 0
#print(dm.df.loc[(dm.df.delta == 0) & (dm.df.position != 0)]._url.unique().shape)

#urls_with_all_positions_delta_zero = dm.df.groupby('_url')['delta'].max()
#urls_with_all_positions_delta_zero = urls_with_all_positions_delta_zero[urls_with_all_positions_delta_zero == 0].index
#print(urls_with_all_positions_delta_zero)

location
Amstel Gold Race                                   53
Clasica Ciclista San Sebastian                     34
Cl√°sica Ciclista San Sebasti√°n                      2
Cl√°sica San Sebasti√°n                               2
Criterium du Dauphin√© Lib√©re                        2
Crit√©rium du Dauphin√©                              13
Crit√©rium du Dauphin√© Lib√©r√©                       23
Donostia San Sebastian Klasikoa                     3
Dwars door Belgi√´ / √Ä travers la Belgique          12
Dwars door Vlaanderen                              13
Dwars door Vlaanderen - A travers la Flandre ME     5
Dwars door Vlaanderen / A travers la Flandre        3
E3 Harelbeke                                        3
E3 Prijs Vlaanderen                                10
E3 Saxo Bank Classic                                2
E3-Prijs Harelbeke                                 32
Giro d'Italia                                      33
Giro di Lombardia                                  40
Grand Prix Cycliste de Montr√©al                    11
Grand Prix Cycliste de Quebec                       4
Grand Prix Cycliste de Qu√©bec                       7
Il Lombardia                                       12
Itzulia Basque Country                              5
La Fl√®che Wallonne                                 48
La Vuelta ciclista a Espa√±a                         5
Li√®ge - Bastogne - Li√®ge                           46
Li√®ge-Bastogne-Li√®ge                                5
Milano-Sanremo                                     43
Monte Paschi Eroica                                 3
Montepaschi Strade Bianche - Eroica Toscana         3
Omloop Het Nieuwsblad ME                           15
Omloop Het Volk                                    34
Omloop Het Volk ME                                  2
Paris - Nice                                       46
Paris - Roubaix                                    44
Paris-Roubaix                                       6
Record Bank E3 Harelbeke                            2
Ronde van Vlaanderen - Tour des Flandres ME         6
Ronde van Vlaanderen / Tour des Flandres           33
Ronde van Vlaanderen / Tour des Flandres ME        14
Strade Bianche                                     11
Tirreno-Adriatico                                  43
Tour de France                                     40
Tour de Romandie                                   40
Tour de Suisse                                     45
UAE Tour                                            5
Volta Ciclista a Catalunya                         33
Volta a Catalunya                                   5
Vuelta Ciclista al Pa√≠s Vasco                      12
Vuelta a Espa√±a                                    38
Vuelta al Pa√≠s Vasco                                9
World Championships - Road Race                    29
World Championships ME - Road Race                 23
Name: startlist_quality, dtype: int64

In [103]:
non_integer_lengths = dm.df.length[~dm.df.length.dropna().apply(float.is_integer)]
print(non_integer_lengths)

11632      32200.0
11633      32200.0
11634      32200.0
11635      32200.0
11636      32200.0
            ...
509529    258100.0
509530    258100.0
509531    258100.0
509532    258100.0
509533    258100.0
Name: length, Length: 1451, dtype: float64

In [104]:
dm.df.loc[11632].length

np.float64(32200.000000000004)

Every _url has exactly one position zero --> pos zero means first

In [130]:
#check if, for every _url, there is position 0, and there is onyl one position 0

#get all records with position 0
position_zero = dm.df[dm.df.position == 0]

print(position_zero.shape)
# project onyl on the two interesting columns
position_zero = position_zero[['_url', 'position']]
# remove duplicates
position_zero = position_zero.drop_duplicates()
print(position_zero.shape)

(5281, 20)
(5281, 2)