# Feature engineering

In [1]:
import pandas as pd
import os

In [2]:
DATASET_DIR = "dataset" + os.sep

In [3]:
merged_df = pd.read_csv(DATASET_DIR + "merge_clean_v1.csv", parse_dates=["date"])
cyclist_df = pd.read_csv(DATASET_DIR + "cyclist_clean_v1.csv")
stages_df = pd.read_csv(DATASET_DIR + "stages_clean_v1.csv", parse_dates=["date"])

In [4]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 589771 entries, 0 to 589770
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   _url               589771 non-null  object
 1   points             589771 non-null  int64
 2   length             589771 non-null  float64
 3   profile            475349 non-null  float64
 4   startlist_quality  589771 non-null  int64
 5   date               589771 non-null  datetime64[ns]
 6   position           589771 non-null  int64
 7   cyclist            589771 non-null  object
 8   cyclist_age        589658 non-null  float64
 9   delta              589771 non-null  int64
 10  race               589771 non-null  object
 11  year               589771 non-null  int64
 12  stage              589771 non-null  object
 13  birth_year         589724 non-null  float64
 14  weight             480010 non-null  float64
 15  height             480010 non-null  float64
 16  nationality        589771 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(5), object(5)
memory usage: 76.5+ MB

In [5]:
cyclist_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6095 entries, 0 to 6094
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _url         6095 non-null   object
 1   name         6095 non-null   object
 2   birth_year   6084 non-null   float64
 3   weight       3134 non-null   float64
 4   height       3134 non-null   float64
 5   nationality  6095 non-null   object
dtypes: float64(3), object(3)
memory usage: 285.8+ KB

In [6]:
stages_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5281 entries, 0 to 5280
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _url               5281 non-null   object
 1   stage              5281 non-null   object
 2   race               5281 non-null   object
 3   date               5281 non-null   datetime64[ns]
 4   points             5281 non-null   int64
 5   length             5281 non-null   int64
 6   profile            3326 non-null   float64
 7   startlist_quality  5281 non-null   int64
 8   year               5281 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(3)
memory usage: 371.4+ KB

## Feature creation

### Feature 1

For features engineering we can discretize for example the date to extract the season (spring, winter ...) while for features novel we can create new feature to analyze in which seasons and in which years the cyclist is more active.

In [7]:
def get_season(date):
    month = date.month
    if month in [12, 1, 2]:
        return "Winter"
    elif month in [3, 4, 5]:
        return "Spring"
    elif month in [6, 7, 8]:
        return "Summer"
    elif month in [9, 10, 11]:
        return "Fall"


# Apply the function to the date column to create a new season column
merged_df["season"] = merged_df["date"].apply(get_season)
stages_df["season"] = stages_df["date"].apply(get_season)
stages_df.tail(10)

,_url,stage,race,date,points,length,profile,startlist_quality,year,season
5271,world-championship/2013/result,result,world-championship,2013-09-29,350,272200,2.0,1630,2013,Fall
5272,world-championship/2014/result,result,world-championship,2014-09-28,350,254800,2.0,1535,2014,Fall
5273,world-championship/2015/result,result,world-championship,2015-09-27,350,261400,3.0,1353,2015,Fall
5274,world-championship/2016/result,result,world-championship,2016-10-16,350,257300,1.0,998,2016,Fall
5275,world-championship/2017/result,result,world-championship,2017-09-24,350,267500,2.0,1327,2017,Fall
5276,world-championship/2018/result,result,world-championship,2018-09-30,350,258000,4.0,1374,2018,Fall
5277,world-championship/2019/result,result,world-championship,2019-09-29,350,260700,2.0,1443,2019,Fall
5278,world-championship/2020/result,result,world-championship,2020-09-27,350,258200,2.0,1008,2020,Fall
5279,world-championship/2021/result,result,world-championship,2021-09-26,350,268300,2.0,1357,2021,Fall
5280,world-championship/2022/result,result,world-championship,2022-09-25,350,266900,2.0,1052,2022,Fall

## Anomaly Detection

## Data understanding